<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/normalize.css" type="text/css">
    <link rel="stylesheet" href="/assets/app.css" type="text/css">
</head>
<body>
<div id="container">
    {{ content }}
    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }}
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons 4.0 BY-NC-ND</a>
            <a href="https://github.com/o/yurtdisinda-calismak-wiki">Github</a> Son güncellenme: {{ 'now' | date: "%d-%m-%Y" }}
        </p>
    </footer>
</div>
</body>
</html>
